@charset "UTF-8";

:root {
    --cor-pricipal: #F2F2F2;
    --cor-texto-pricipal: rgb(2, 2, 2);
    --cor-pagina-incial: #4e51838e;
    --cor-pag-noticia: #F2F2F2;
}
a {
    text-decoration: none;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

.logo {
    margin-top: 3%;
}

.texto-header {
    margin-right: 30%;
    font-family: Agdasima;
}

header {
    background-color: #1C1240;
    display: grid;
    grid-template-columns: 13% auto;
    justify-items: center;
    color: white;
}

.navegacao {
    width: 100%;
    background-color: #20235a;
    align-items: center;
}

.navegacao a {
    display: inline-block;
    margin: 0 .5%;
    color: #F2F2F2;
    text-decoration: none;
}

.navegacao a:hover {
    background-color: #010440;
}
.zoom{
    transition: 0.5s all ease-in-out;
}

.zoom:hover {
    scale: 1.05;
}

#noticia-maior{
    width: 500px;
    height: 600px;
}

#noticias-menores{
    width: 350px; 
    height: 180px;
}

/* MAIN */


body {
    display: grid;
    background-color: var(--cor-pricipal);
    color: var(--cor-texto-pricipal);
    margin: 0;
}

.pagina-inicial {
    background-color: var(--cor-pagina-incial);
}

.menu-inicial {
    display: grid;
    grid-template-columns: 500px 500px;
    align-content: center;
    align-items: center;
    justify-content: center;
    grid-gap: 15px;
    margin-top: 100px;
    margin-left: -200px;
}

.menu-inicial img {
    border-radius: 5%;
}

.menu-inicial a {
    color: rgb(20, 19, 24);
}

.menu-inicial a:hover {
    text-decoration: underline;
}

/* NOTICIA */

#subtitulo {
    font-size: 34;
    text-align: center;
}

.noticias-main {
    display: grid;
    grid-template-columns: 4fr 2fr;
    margin-left: 10%;
}

.noticias-main img {
    margin-top: 50px;
    margin-bottom: 20px;
}

#titulo-news {
    text-align: center;
    margin-top: 50px;
}

hr {
    color: #27282ed5;
    width: 1000px;
}

.cor-pag-noticia {
    background-color: var(--cor-pag-noticia);
}

.imagem-noticia {
    text-align: center;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#autor-noticia {
    font-size: 13px;
}

/* PROPAGANDA */

.img-add {
    margin-left: 100px;
    margin-top: 550px;
    border-radius: 5%;
    box-shadow: 13px 5px 5px black;
}

/* FOOTER */

footer {
    display: grid;
    background-color: #798C8C;
    color: white;
    text-align: center;
    grid-template-rows: 50px;
    margin-top: 90px;
    align-items: center;
}

.hr-footer {
    width: 55%;
    margin-left: 200px;
    margin-top: 25px;
}

/* RESPONSIVIDADE */

@media (max-width:1200px){
    .menu-inicial {
        display: grid;
        grid-template-columns: 500px 500px;
        align-content: center;
        align-items: center;
        justify-content: center;
        grid-gap: 10px;
        margin-top: 100px;
        margin-left: 10px;
    }

}

@media (max-width: 960px){
    header {
        background-color: #1C1240;
        display: grid;
        grid-template-columns: 10% auto;
        justify-items: center;
        color: white;
        width: 100%;
    }
    .menu-inicial {
        display: inline-block;
        align-content: center;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        margin-left: 10px;
    }

    
}
